.tableWrapper {
  background-color: #f8f9fa;
  padding         : 0.625rem 1rem;
  height          : 100%;
}

.table {
  background-color: #fff;
  padding         : 1rem;
  border-radius   : 0.5rem;
}

.actions {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.smallColumn {
  width: 210px;
}

.coordsColumn {
  width: 100px;
}